*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.fbody {
    display: flex;
    flex-direction: reverse-row;
	flex-wrap: wrap;
}

@media only screen and (min-width : 768px) {  
 .contact-holder {
	font-size: 13.5px;
    text-align: center;
    width: calc(100%/3 - 80px);
    float: left;
    min-width: 200px;
    margin: 21px 35px 39px;
    background: var(--card-bg);
    border-radius: 10px;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.1), 0px 3px 0px var(--btn-bg), inset 0px 1px 0px #fff, inset 0px -1px 0px rgba(0, 0, 0, 0.4), 0px 5px 9px rgba(0, 0, 0, 0.4);
 }

 .contact-image-holder {
    margin-top: -43px;
    position: relative;
    left: 50%;
	margin-left: -43px;
    padding: 6px;
    width: 86px;
    height: 86px;
    border-radius: 50%;
    border: 1px dashed var(--btn-bg);
    box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.4);
 }
 .contact-image-holder img {
    border-radius: 50%;
    width: 100px;
    border: 5px solid #fdfdfd;
    box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.4);
 }

}
@media only screen and (max-width : 767px) {  
 .contact-holder {
	font-size: 13px;
    text-align: center;
    width: calc(100%/2 - 14px);
	float: left;
    color: #90a4ab;
	max-width: 260px;
    margin: 15px 7px 29px;
    background: var(--search-bg);
    border-radius: 10px;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.1), 0px 2px 0px var(--btn-bg), inset 0px 1px 0px #fff, inset 0px -1px 0px rgba(0, 0, 0, 0.4), 0px 5px 9px rgba(0, 0, 0, 0.4);
 }
 .contact-image-holder {
    margin-top: -30px;
    position: relative;
    left: 50%;
	margin-left: -30px;
    padding: 3px;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 1px dashed var(--btn-bg);
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.4);
 }
 .contact-image-holder img {
    border-radius: 50%;
    width: 77px;
    border: 5px solid #fdfdfd;
    box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.4);
 }
}
.fcontent {
    margin: 13px 9px 7px;
	overflow:hidden;
	color: #90a4ab;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.bottom {
    text-transform: uppercase;
    font-weight: bold;
    color: #49b1f5b3;
	font-size: 14px;
	margin-bottom: -5.5px;
}
.bottom p::before,
.bottom p::after {
    display: inline-block;
    content: "";
    width: 7px;
    height: 7px;
    border-radius: 50%;
    margin: 0px 5px;
    background: rgba(0, 0, 0, 0.05);
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.4);
    border-bottom: 1px solid #fff;
}

 .fbody div:hover {
	-webkit-transform: translateY(-6px);
	transform: translateY(-6px);
	box-shadow: 0 26px 40px -24px rgba(0,0,0,0.3);
}
